@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

h2{
  font-family: Orbitron;
  font-weight: 500;
}
h1 {
  font-family: Sacramento, cursive;
  font-weight: 400;
  font-style: italic;
  background: lightblue;
  width: 300px;
  color: #5B2782;
}

p{
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: blueviolet;
  text-align: justify;
}
